<div class="container">
    <app-header [header]="header" (actionLeft)="create()"></app-header>
    <div class="content">
        <div class="table">
            <thead>
                <th class="type">Tipo</th>
                <th class="name">Nombre</th>
                <th class="software">Software Requerido</th>
                <th class="status">Estado</th>
            </thead>
            <tbody>
                <tr *ngFor="let elem of data">
                    <td class="type">{{elem.type}}</td>
                    <td class="name">{{elem.name}}</td>
                    <td class="software">{{elem.software}}</td>
                    <td class="status">{{elem.status}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
<div id="mainModal" class="modal hidden" (click)="hiddeModal()">
    <div class="innerModal hidden" id="selectModal" (click)="stopPropagation($event)">
        <div class="button" (click)="newSoftware($event)">Crear un nuevo software</div>
        <div class="button" (click)="newSystem($event)">Crear un nuevo sistema</div>
    </div>
    <div class="innerModal hidden" id="newSoftware" (click)="stopPropagation($event)">
        <h2>Creación de un nuevo software</h2>
        <h3>Nombre:</h3>
        <input class="input" type="text" name="" id="">
        <input type="button" class="button" value="Crear">
    </div>
    <div class="innerModal hidden" id="newSystem" (click)="stopPropagation($event)">
        <h2>Creación de un nuevo sistema</h2>
        <h3>Nombre:</h3>
        <input class="input" type="text" name="" id="">
        <h3>Sistema:</h3>
        <div class="sysInput">
            <input type="text" name="" id="">
            <span class="material-symbols-outlined">
                add
            </span>
        </div>
        
        <div *ngFor="let elem of systemSel">
            <h4>{{elem}}</h4>
            <span class="material-symbols-outlined">
                remove
            </span>
        </div>
        <input type="button" class="button" value="Crear">
    </div>
</div>